root = true

[*]
indent_size = 2
indent_style = space
end_of_line = lf
insert_final_newline = true
charset = utf-8-bom

[*.cs]
indent_size = 4
max_line_length = 120

dotnet_analyzer_diagnostic.severity = warning
dotnet_diagnostic.IDE0005.severity = suggestion

csharp_prefer_braces = when_multiline:warning
csharp_style_implicit_object_creation_when_type_is_apparent = true:warning
csharp_style_namespace_declarations = file_scoped:warning
dotnet_style_allow_multiple_blank_lines_experimental = false:warning

dotnet_diagnostic.SYSLIB1045.severity = silent
dotnet_diagnostic.CA1051.severity = silent
dotnet_diagnostic.CA1852.severity = silent
dotnet_diagnostic.CA2201.severity = silent
dotnet_diagnostic.IDE0008.severity = silent
dotnet_diagnostic.IDE0010.severity = silent
dotnet_diagnostic.IDE0022.severity = silent
dotnet_diagnostic.IDE0040.severity = silent
dotnet_diagnostic.IDE0046.severity = silent
dotnet_diagnostic.IDE0048.severity = silent

dotnet_diagnostic.CS1591.severity = silent
dotnet_diagnostic.IDE0021.severity = silent
dotnet_diagnostic.IDE0023.severity = silent
dotnet_diagnostic.CA1708.severity = silent
dotnet_diagnostic.CS8620.severity = none

[src/Robots.Grasshopper/Goos/GH_*.cs]
dotnet_diagnostic.CA1707.severity = silent

[src/Robots/**/*.cs]
dotnet_style_namespace_match_folder = false:warning

[src/Robots.Grasshopper/**/*.cs]
dotnet_style_namespace_match_folder = false:warning
